* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    width: 100vw;
    background-color: rgba(104, 102, 102, 0.16);
    box-shadow: 0px 1px 12px 0 #888888;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo-group{
    margin: 15px 0 15px 12px;
}


h3{
    margin:40px;
}

/* media query */
@media only screen and (min-width: 700px) {

    .brand-logo-group{
          width: 130px;
          height: 35px; 
          margin: 15px;  
    }

    nav{
        background-color: rgba(137, 131, 131, 0.084);
    }

}
