
nav {
    width: 100vw;
    background-color:rgb(248, 248, 248);
    box-shadow: 0px 1px 12px 0 #888888;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo-group{
    margin: 15px 0 15px 12px;
}

/* fixed nav */
nav{
    position: fixed;
    top: 0;
    z-index: 9999;   
}

body{
    padding-top: 60px;
 }

nav a {
    padding: 0 20px;
    color: black;
    font-size: large;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

nav a:hover {
    font-weight: 600;
}


/* nav side baar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav a li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar li {
    margin: 10px;
}

.sidebaar-tital-img{
    margin-right: 4px;
}

/*select category option */
.select-option-group{
  border: none;
  width: 100px;
  font-size: large;
}

/* media query */
@media only screen and (min-width: 700px) {

    .brand-logo-group{
          width: 130px;
          height: 35px; 
          margin: 15px;  
    }

    nav{
        background-color:rgb(248, 248, 248);
    }

}