* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    background-color: rgba(104, 102, 102, 0.16);
    box-shadow: 0px 1px 12px 0 #888888;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo-group{
    margin: 15px 0 15px 12px;
}


/*card css */

.grid{
    margin-top: 20px;
}

.sem-notes-group{
    margin-bottom: 100px;
}

.card-cantainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card {
    background: #c9e6e377;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

h2 {
    margin-top: 0;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}

button {
    background-color: #2b8d54;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #146636;
}

/* media queri for dextop side */
@media only screen and (min-width: 700px){
    .grid {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 30px;
    }

    .brand-logo-group{
        width: 130px;
        height: 35px; 
        margin: 15px;  
  }

  nav{
      background-color: rgba(137, 131, 131, 0.084);
  }

    }     

@media only screen and (min-width: 1100px){
.grid {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 30px;
}
}  

@media only screen and (min-width: 1400px){
    .grid {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        grid-gap: 30px;
    }
    }  